<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new post</title>
</head>
<body>
    <form method="post" action="/posts">
        Username : <input type="text" name="username" id="user_ip" placeholder="enter username"><br><br>
        Caption : <textarea name="caption" id="caption_ip" placeholder="enter caption"></textarea><br><br>
        <button type="submit">Submit</button>
    </form>

</body>
</html>