body{
    text-align: center;
    background-color: antiquewhite;
}
.container{
    margin: auto;
    display: flex;
    justify-content: center;
    margin:auto;
}
.btn{
    height : 150px;
    width : 150px;
    border : 5px solid black;
    border-radius: 20%;
    margin : 20px;
}
.red{
    background-color: red;
}
.grey{
    background-color: grey;
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color:blue;
}
.flash{
    background-color: white;
}
.userflash{
    background-color: black;
}